<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>{{ age | add:"10" }}</h2>
    <h2>{{ "i'm saiful" | addslashes }}</h2>
    <h2>{{ location | capfirst }}</h2>
    <h2>"{{ location | center:"15" }}"</h2>
    <h2>{{ name | cut:" " }}</h2>
    <h2>{{ cur_time | date:"D d M Y P" }}</h2>
    <h2>{{ empty | default:"nothing" }}</h2>
    <h2>{{ courses | dictsort:"name" }}</h2>
    <h2>{{ age | divisibleby:"3" }}</h2>
    <h2>{{ inter | filesizeformat }}</h2>
    <h2>{{ courses | first }}</h2>
    <h2>{{ courses | last }}</h2>
    <h2>{{ courses | join:" // " }}</h2>
    <h2>{{ courses | length }}</h2>
    <h2>{{ line | linenumbers }}</h2>
    <h2>{{ 'AUNY' | lower }}</h2>
    <h2>{{ name | make_list }}</h2>
    <h2>{{ courses | random }}</h2>
    <h2>{{ courses | slice:":1" }}</h2>
    <h2>{{ name | slugify }}</h2>
    <h2>{{ 'HELLO My NaMe IS sAiful' | title }}</h2>
    <h2>{{ location | upper }}</h2>
    <h2>{{ name | wordcount }}</h2>
    <h2>{{ comment | truncatechars:7 }}</h2>
    <h2>{{ comment | truncatewords:3 }}</h2>
    <h2></h2>
    <h2></h2>
    <h2></h2>
    <h2></h2>
    <h2></h2>
    <h2></h2>
    <h2></h2>
    <h2></h2>
    <h2></h2>
    
    
</body>
</html>